<div class="logo-containter text-center">
  <div class="d-inline-block">
    <span>
      <img height="60" src="/assets/black-logo.svg" alt="ALIVIUS Logo" />
    </span>
  </div>
</div>

<p class="sub-title" *ngIf="!tokenInvalid">{{ 'setNewPassMsg' | translate }}</p>
<p class="sub-title" *ngIf="tokenInvalid && !loading">
  {{ 'linkExpiryMsg' | translate }}
</p>

<form
  (ngSubmit)="updatePassword(form)"
  #form="ngForm"
  aria-labelledby="title"
  *ngIf="!tokenInvalid"
>
  <div class="form-group">
    <label class="label" for="input-password">{{
      'newPasswordLbl' | translate
    }}</label>
    <input
      nbInput
      fullWidth
      [(ngModel)]="user.newPassword"
      #password="ngModel"
      name="password"
      type="password"
      id="input-password"
      placeholder="Password"
      [status]="password.dirty ? (password.invalid ? 'danger' : 'success') : ''"
      [required]="true"
      [minlength]="8"
      [maxlength]="20"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
      [attr.aria-invalid]="password.invalid && password.touched ? true : null"
    />
    <ng-container *ngIf="password.invalid && password.touched">
      <p class="error-message" *ngIf="password.errors?.required">
        {{ 'passwordRequiredMsg' | translate }}
      </p>
      <p
        class="error-message"
        *ngIf="
          password.errors?.minlength ||
          password.errors?.maxlength ||
          password.errors?.pattern
        "
      >
        {{ 'passwordValidationMsg' | translate }}
      </p>
    </ng-container>
  </div>

  <div class="form-group">
    <label class="label" for="input-confirm-password">{{
      'confirmPasswordLbl' | translate
    }}</label>
    <input
      nbInput
      fullWidth
      [(ngModel)]="user.confirmPassword"
      #confirmpassword="ngModel"
      name="confirmpassword"
      type="password"
      id="input-confirm-password"
      placeholder="Password"
      [status]="
        confirmpassword.dirty
          ? confirmpassword.invalid
            ? 'danger'
            : 'success'
          : ''
      "
      (change)="passwordMatch()"
      [required]="true"
      [minlength]="8"
      [maxlength]="20"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
      [attr.aria-invalid]="
        confirmpassword.invalid && confirmpassword.touched ? true : null
      "
    />
    <ng-container>
      <p
        class="error-message"
        *ngIf="confirmpassword.errors?.required && confirmpassword.touched"
      >
        {{ 'newPasswordMatchMsg' | translate }}
      </p>
      <p
        class="error-message"
        *ngIf="
          (confirmpassword.errors?.minlength ||
            confirmpassword.errors?.maxlength ||
            confirmpassword.errors?.pattern) &&
          confirmpassword.touched
        "
      >
        {{ 'passwordValidationMsg' | translate }}
      </p>
    </ng-container>
  </div>

  <button
    nbButton
    fullWidth
    status="primary"
    [disabled]="!form.valid || loading"
    [nbSpinner]="loading"
    nbSpinnerStatus="info"
    nbSpinnerSize="small"
  >
    {{ 'updatePasswordBtn' | translate }}
  </button>
</form>
