<span *ngIf="currentUser.lastLogin" [routerLink]="['/home']">
  <em class="fas fa-long-arrow-alt-left"></em>

  <h1 id="title" class="title">
    {{ tenantName }}{{ 'ipsPortalTitle' | translate }}
  </h1>
</span>

<p class="sub-title">{{ 'enterNewPasswordLbl' | translate }}</p>

<form (ngSubmit)="updatePassword(form)" #form="ngForm" aria-labelledby="title">
  <div class="form-group">
    <label class="label" for="input-old-password">{{
      'oldPasswordLbl' | translate
    }}</label>
    <input
      nbInput
      fullWidth
      [(ngModel)]="user.password"
      #oldpassword="ngModel"
      name="oldpassword"
      type="password"
      id="input-old-password"
      placeholder="Password"
      [status]="
        oldpassword.dirty ? (oldpassword.invalid ? 'danger' : 'success') : ''
      "
      [required]="true"
      [minlength]="8"
      [maxlength]="20"
      [attr.aria-invalid]="
        oldpassword.invalid && oldpassword.touched ? true : null
      "
    />
    <ng-container *ngIf="oldpassword.invalid && oldpassword.touched">
      <p class="error-message" *ngIf="oldpassword.errors?.required">
        {{ 'currPasswordRequiredMsg' | translate }}
      </p>
      <p
        class="error-message"
        *ngIf="oldpassword.errors?.minlength || oldpassword.errors?.maxlength"
      >
        {{ 'currPasswordValidationMsg' | translate }}
      </p>
    </ng-container>
  </div>

  <div class="form-group">
    <label class="label" for="input-password">{{
      'newPasswordLbl' | translate
    }}</label>
    <input
      nbInput
      fullWidth
      [(ngModel)]="user.newPassword"
      #password="ngModel"
      name="password"
      type="password"
      id="input-password"
      placeholder="Password"
      [status]="password.dirty ? (password.invalid ? 'danger' : 'success') : ''"
      [required]="true"
      [minlength]="8"
      [maxlength]="20"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
      [attr.aria-invalid]="password.invalid && password.touched ? true : null"
    />
    <ng-container *ngIf="password.invalid && password.touched">
      <p class="error-message" *ngIf="password.errors?.required">
        {{ 'passwordRequiredMsg' | translate }}
      </p>
      <p
        class="error-message"
        *ngIf="
          password.errors?.minlength ||
          password.errors?.maxlength ||
          password.errors?.pattern
        "
      >
        {{ 'passwordValidationMsg' | translate }}
      </p>
    </ng-container>
  </div>

  <div class="form-group">
    <label class="label" for="input-confirm-password">{{
      'confirmPasswordLbl' | translate
    }}</label>
    <input
      nbInput
      fullWidth
      [(ngModel)]="user.confirmPassword"
      #confirmpassword="ngModel"
      name="confirmpassword"
      type="password"
      id="input-confirm-password"
      placeholder="Password"
      [status]="
        confirmpassword.dirty
          ? confirmpassword.invalid
            ? 'danger'
            : 'success'
          : ''
      "
      (change)="passwordMatch()"
      [required]="true"
      [minlength]="8"
      [maxlength]="20"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
      [attr.aria-invalid]="
        confirmpassword.invalid && confirmpassword.touched ? true : null
      "
    />
    <ng-container>
      <p
        class="error-message"
        *ngIf="confirmpassword.errors?.required && confirmpassword.touched"
      >
        {{ 'newPasswordMatchMsg' | translate }}
      </p>
      <p
        class="error-message"
        *ngIf="
          (confirmpassword.errors?.minlength ||
            confirmpassword.errors?.maxlength ||
            passwordMismatch) &&
          confirmpassword.touched
        "
      >
        {{ 'passwordMatchMsg' | translate }}
      </p>
    </ng-container>
  </div>

  <button
    nbButton
    fullWidth
    status="primary"
    [disabled]="!form.valid || loading"
    [nbSpinner]="loading"
    nbSpinnerStatus="info"
    nbSpinnerSize="small"
  >
    {{ 'updatePasswordBtn' | translate }}
  </button>
</form>
