<div class="logo-containter text-center">
  <div class="d-inline-block">
    <span>
      <img height="60" src="/assets/logo.png" alt="ALIVIUS Logo" />
    </span>
  </div>
</div>

<p class="sub-title">{{ 'forgotPasswordMsg' | translate }}</p>

<form
  aria-labelledby="title"
  novalidate=""
  (ngSubmit)="requestPassword(form)"
  #form="ngForm"
  class="ng-untouched ng-pristine ng-invalid"
>
  <div class="form-control-group">
    <label class="label" for="input-email">
      {{ 'enterEmailLbl' | translate }} :
    </label>
    <input
      nbInput
      fullWidth
      [(ngModel)]="emailData"
      #email="ngModel"
      name="email"
      id="input-email"
      [placeholder]="'emailAddressLbl' | translate"
      autofocus
      pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
      [status]="email.dirty ? (email.invalid ? 'danger' : 'success') : ''"
      [required]="true"
      [attr.aria-invalid]="email.invalid && email.touched ? true : null"
    />
  </div>
  <button
    nbButton
    fullWidth
    type="submit"
    status="primary"
    [disabled]="(!form.valid && form.touched) || loading"
    [nbSpinner]="loading"
    nbSpinnerStatus="info"
    nbSpinnerSize="small"
  >
    {{ 'requestPasswordBtn' | translate }}
  </button>
</form>
<section aria-label="Sign in or sign up" class="sign-in-or-up">
  <p>
    <a class="text-link" [routerLink]="['/login']">{{
      'backToLoginBtn' | translate
    }}</a>
  </p>
</section>
